.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  background: white;
  width: 45%;
  max-width: 860px;
  height: auto;
  top: 50%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 10px 20px;
  @media (max-width: 700px) {
    width: 70%;
  }
  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      .symbolClose {
        font-size: 18px;
      }
    }
  }

  .confirmButton {
    margin-top: 15px;
    padding: 5px 20px;
    float: right;
  }
}
